.productCart{
    width: 30%;
    min-width: 200px;
    margin: auto;
    border: 1px solid var(--light-gray);
    border-radius: 10px;    
}

.productCart__img{
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.productCart__img img{
    height: 150px;
    object-fit: contain;
}

.productCart__title {
    color: var(--dark-gray)
}

.productCart__functionalityQuantity{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.productCart__btnQuantity{
    width: 10px;
    border: none;
    background-color: var(--primary);
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.productCart__quantityContainer, .productCart__total{
    padding: 20px;
}

.productCart__total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.productCart__textQuantity{
    width: 50px;
    height: 30px;
    display: grid;
    place-content: center;
    background-color: white;
    border: 1px solid var(--light-gray);
    font-size: 18px;
}

.productCart__btnTrash {
    display: grid;
    place-content: center;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
}

.productCart__totalText, .productCart__price {
    display: inline-block;
}

.productCart__totalText {
    color: var(--light-gray)
}

.productCart__price {
    margin-left: 20px;
}