.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: sticky; 
    top: 0; 
    background-color: white;
    z-index: 2; 
}

.navbar__name, .navbar__link{
    text-decoration: none;
}

.navbar__name{
    color: var(--primary);
    font-size: 20px;
}

.navbar__containerLinks{
    display: flex;
    gap: 10px;
}

.navbar__link{
    color: var(--text-gray);
    font-size: 25px;
    padding: 5px;
    position: relative;
}

.navbar__link span {
    background-color: var(--primary);
    font-size: 17px;
    color: white;
    height: 25px;
    aspect-ratio: 1;
    font-weight: bold;
    position: absolute;
    right: -3px;
    bottom: -5px;
    display: grid; 
    place-content: center;
    border-radius: 50%;
}

@media (min-wdith: 550px) {
    .navbar__link{
        font-size: 30px;
        padding: 8px;
    }

    .navbar__containerLinks{
        gap: 40px;
    }
}